.titleSectionContainer {
  position: sticky;
  top: 0;
  z-index: var(--z-header);
  background: #1abc9c;
  padding: 0.5rem 1rem;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.5rem;
  text-shadow: none;
  letter-spacing: -0.5px;
}
